<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>

        <!-- append can be false for test purposes so the logfiles are automatically overwritten. Don't use this on production. -->
        <RollingFile
                name="fileLogger"
                append="true"
                fileName="logs/output.log"
                filePattern="logs/output-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Rolling once a day -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Rolling based on size -->
                <SizeBasedTriggeringPolicy size="200 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- name should be a package to enable logging from those packages-->
        <Logger name="org.example">
            <appender-ref ref="fileLogger" level="debug"/>
        </Logger>

        <!--to show hibernate SQL statements:-->
        <logger name="org.hibernate.SQL" level="debug"/>

        <!--to show hibernate log statements:-->
        <!--        <Logger name="org.hibernate" level="INFO"/>-->

        <!--to show binding parameter log statements:-->
        <!--        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>-->

        <Root level="debug">
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>
